In [1]:
# nhập thư viện
import numpy as np
import pandas as pd

In [2]:
# tạo hàm lấy dữ liệu
def loadCsv(filename):
    data = pd.read_csv(filename)
    return data

In [3]:
# tạo hàm biến đổi cột định tính, dùng phương pháp one hot
def transform(data, columns_trans): # data dạng dataframe, data_trans là cột cần biến đổi --> dạng Series
    for i in columns_trans:
        unique = data[i].unique() + '-' + i # trả lại mảng
        # tạo ma trận 0
        matrix_0 = np.zeros((len(data), len(unique)), dtype = int)
        frame_0 = pd.DataFrame(matrix_0, columns = unique)
        for index, value in enumerate(data[i]):
            frame_0.at[index, value + '-' + i] = 1
        data[unique] = frame_0
    return data

In [4]:
# tạo hàm scale dữ liệu về [0,1] (min max scaler)
def scale_data(data, columns_scale): # columns_scale là cột cần scale, nếu nhiều bỏ vào list ['a', 'b']
    for i in columns_scale:  
        _max = data[i].max()
        _min = data[i].min()
        data[i] = data[i].apply(lambda x: round((x - _min)/(_max - _min), 3))
        # data_scale = value_scale
    return data # --> trả về frame

In [5]:
# hàm tính khoảng cách Cosine 
def cosine_distance(train_X, test_X): # cả 2 đều dạng mảng
    dict_distance = dict()
    for index, value in enumerate(test_X, start = 1):
        for j in train_X:
            result = np.sqrt(np.sum((j - value)**2))
            if index not in dict_distance:
                dict_distance[index] = [result]
            else:
                dict_distance[index].append(result)
    return dict_distance # {1: [6.0, 5.0], 2: [4.6, 3.1]}

In [6]:
# hàm gán kết quả theo k
def target_test(k, train_X, test_X, train_y): # train_X, test_X là frame, train_y là Series
    lst_predict = list()
    dict_distance = cosine_distance(train_X, test_X)
    train_y = train_y.to_frame(name = 'target').reset_index(drop = True) # train_y là frame
    frame_concat = pd.concat([pd.DataFrame(dict_distance), train_y], axis = 1)
    for i in range(1, len(dict_distance) + 1):
        sort_distance = frame_concat[[i, 'target']].sort_values(by = i, ascending = True)[:k] # sắp xếp và lấy k
        target_predict = sort_distance['target'].value_counts(ascending = False).index[0]
        lst_predict.append([i, target_predict])
    return lst_predict

In [7]:
data = loadCsv('drug200.csv')

In [8]:
data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [9]:
df = transform(data, ['Sex', 'BP', 'Cholesterol']).drop(['Sex', 'BP', 'Cholesterol'], axis = 1)

In [10]:
scale_data(df, ['Age', 'Na_to_K'])

,Age,Na_to_K,Drug,F-Sex,M-Sex,HIGH-BP,LOW-BP,NORMAL-BP,HIGH-Cholesterol,NORMAL-Cholesterol
0,0.136,0.597,DrugY,1,0,1,0,0,1,0
1,0.542,0.213,drugC,0,1,0,1,0,1,0
2,0.542,0.120,drugC,0,1,0,1,0,1,0
3,0.220,0.048,drugX,1,0,0,0,1,1,0
4,0.780,0.368,DrugY,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
195,0.695,0.166,drugC,1,0,0,1,0,1,0
196,0.017,0.179,drugC,0,1,0,1,0,1,0
197,0.627,0.113,drugX,0,1,0,0,1,1,0
198,0.136,0.242,drugX,0,1,0,0,1,0,1
199,0.424,0.159,drugX,1,0,0,1,0,0,1

In [11]:
df

,Age,Na_to_K,Drug,F-Sex,M-Sex,HIGH-BP,LOW-BP,NORMAL-BP,HIGH-Cholesterol,NORMAL-Cholesterol
0,0.136,0.597,DrugY,1,0,1,0,0,1,0
1,0.542,0.213,drugC,0,1,0,1,0,1,0
2,0.542,0.120,drugC,0,1,0,1,0,1,0
3,0.220,0.048,drugX,1,0,0,0,1,1,0
4,0.780,0.368,DrugY,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...
195,0.695,0.166,drugC,1,0,0,1,0,1,0
196,0.017,0.179,drugC,0,1,0,1,0,1,0
197,0.627,0.113,drugX,0,1,0,0,1,1,0
198,0.136,0.242,drugX,0,1,0,0,1,0,1
199,0.424,0.159,drugX,1,0,0,1,0,0,1

In [12]:
# tạo data_X và target
data_X = df.drop(['Drug'], axis = 1).values
data_y = df['Drug']
print(data_X)
print(data_y)

[[0.136 0.597 1.    ... 0.    1.    0.   ]
 [0.542 0.213 0.    ... 0.    1.    0.   ]
 [0.542 0.12  0.    ... 0.    1.    0.   ]
 ...
 [0.627 0.113 0.    ... 1.    1.    0.   ]
 [0.136 0.242 0.    ... 1.    0.    1.   ]
 [0.424 0.159 1.    ... 0.    0.    1.   ]]
0      DrugY
1      drugC
2      drugC
3      drugX
4      DrugY
       ...
195    drugC
196    drugC
197    drugX
198    drugX
199    drugX
Name: Drug, Length: 200, dtype: object

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data_X, data_y, test_size = 0.2, random_state = 0)

In [14]:
print(X_train)
print(X_test)
print(y_train)
print(y_test)
print(len(X_train), len(X_test), len(y_train), len(y_test))
print(type(y_train))

[[0.458 0.462 1.    ... 0.    1.    0.   ]
 [0.237 0.206 0.    ... 0.    1.    0.   ]
 [0.271 0.754 0.    ... 0.    1.    0.   ]
 ...
 [0.424 0.12  1.    ... 1.    1.    0.   ]
 [0.898 0.126 0.    ... 0.    1.    0.   ]
 [0.407 0.343 1.    ... 1.    0.    1.   ]]
[[0.136 0.032 0.    1.    0.    1.    0.    1.    0.   ]
 [0.22  0.207 1.    0.    0.    0.    1.    1.    0.   ]
 [0.458 0.43  0.    1.    0.    1.    0.    1.    0.   ]
 [0.085 0.918 0.    1.    1.    0.    0.    0.    1.   ]
 [0.169 0.398 0.    1.    0.    0.    1.    1.    0.   ]
 [0.085 0.169 1.    0.    0.    1.    0.    0.    1.   ]
 [0.119 0.073 1.    0.    0.    0.    1.    1.    0.   ]
 [0.373 0.179 1.    0.    0.    1.    0.    0.    1.   ]
 [0.475 0.285 0.    1.    0.    1.    0.    1.    0.   ]
 [0.678 0.031 0.    1.    0.    0.    1.    0.    1.   ]
 [0.153 0.1   0.    1.    1.    0.    0.    0.    1.   ]
 [0.068 0.616 1.    0.    1.    0.    0.    0.    1.   ]
 [0.119 0.518 1.    0.    1.    0.    0.    0.    1.   ]
 [0.373 0.327 0.    1.    0.    1.    0.    0.    1.   ]
 [0.763 0.24  0.    1.    1.    0.    0.    1.    0.   ]
 [0.441 0.149 0.    1.    0.    1.    0.    1.    0.   ]
 [0.847 0.801 1.    0.    1.    0.    0.    0.    1.   ]
 [0.932 0.445 1.    0.    0.    0.    1.    1.    0.   ]
 [0.407 0.24  0.    1.    0.    1.    0.    0.    1.   ]
 [0.271 0.338 0.    1.    1.    0.    0.    0.    1.   ]
 [0.356 0.288 1.    0.    1.    0.    0.    0.    1.   ]
 [0.78  0.099 0.    1.    0.    0.    1.    1.    0.   ]
 [0.864 0.057 1.    0.    0.    0.    1.    0.    1.   ]
 [0.322 0.208 1.    0.    0.    1.    0.    0.    1.   ]
 [0.39  0.738 1.    0.    0.    1.    0.    0.    1.   ]
 [0.356 0.328 1.    0.    0.    0.    1.    1.    0.   ]
 [0.881 0.301 1.    0.    0.    0.    1.    1.    0.   ]
 [0.712 0.614 1.    0.    0.    0.    1.    0.    1.   ]
 [0.322 0.506 0.    1.    0.    0.    1.    1.    0.   ]
 [0.593 0.188 1.    0.    0.    0.    1.    0.    1.   ]
 [0.915 0.162 0.    1.    0.    1.    0.    0.    1.   ]
 [0.186 0.247 1.    0.    0.    1.    0.    1.    0.   ]
 [0.576 0.076 0.    1.    1.    0.    0.    0.    1.   ]
 [0.542 0.013 1.    0.    0.    0.    1.    0.    1.   ]
 [0.542 0.76  0.    1.    0.    1.    0.    0.    1.   ]
 [0.831 0.459 0.    1.    1.    0.    0.    0.    1.   ]
 [0.288 0.038 1.    0.    0.    0.    1.    1.    0.   ]
 [0.78  0.368 1.    0.    0.    1.    0.    1.    0.   ]
 [0.39  0.158 1.    0.    1.    0.    0.    0.    1.   ]
 [0.119 0.178 0.    1.    0.    0.    1.    1.    0.   ]]
134    DrugY
66     drugA
26     DrugY
113    drugX
168    DrugY
       ...
67     drugX
192    DrugY
117    drugX
47     drugC
172    DrugY
Name: Drug, Length: 160, dtype: object
18     drugC
170    drugX
107    DrugY
98     DrugY
177    DrugY
182    drugX
5      drugX
146    drugX
12     DrugY
152    drugX
61     drugA
125    DrugY
180    DrugY
154    DrugY
80     drugB
7      drugC
33     DrugY
130    DrugY
37     drugX
74     DrugY
183    DrugY
145    drugX
45     drugX
159    drugX
60     DrugY
123    DrugY
179    DrugY
185    DrugY
122    DrugY
44     drugX
16     drugX
55     drugC
150    drugA
111    drugX
22     DrugY
189    DrugY
129    drugX
4      DrugY
83     drugA
106    drugX
Name: Drug, dtype: object
160 40 160 40
<class 'pandas.core.series.Series'>

In [15]:
test_pred = target_test(6, X_train, X_test, y_train)
b = pd.DataFrame(test_pred) 
b.index = range(1, len(test_pred) + 1)

In [16]:

a = pd.DataFrame(y_test)

In [17]:
a.index = range(1, len(y_test) + 1)

In [18]:
a

     Drug
1   drugC
2   drugX
3   DrugY
4   DrugY
5   DrugY
6   drugX
7   drugX
8   drugX
9   DrugY
10  drugX
11  drugA
12  DrugY
13  DrugY
14  DrugY
15  drugB
16  drugC
17  DrugY
18  DrugY
19  drugX
20  DrugY
21  DrugY
22  drugX
23  drugX
24  drugX
25  DrugY
26  DrugY
27  DrugY
28  DrugY
29  DrugY
30  drugX
31  drugX
32  drugC
33  drugA
34  drugX
35  DrugY
36  DrugY
37  drugX
38  DrugY
39  drugA
40  drugX

In [19]:
pd.concat([b, a], axis = 1)

     0      1   Drug
1    1  drugC  drugC
2    2  drugX  drugX
3    3  DrugY  DrugY
4    4  DrugY  DrugY
5    5  DrugY  DrugY
6    6  DrugY  drugX
7    7  drugX  drugX
8    8  drugX  drugX
9    9  DrugY  DrugY
10  10  drugX  drugX
11  11  drugA  drugA
12  12  DrugY  DrugY
13  13  DrugY  DrugY
14  14  drugX  DrugY
15  15  drugB  drugB
16  16  drugC  drugC
17  17  DrugY  DrugY
18  18  drugX  DrugY
19  19  drugX  drugX
20  20  drugA  DrugY
21  21  DrugY  DrugY
22  22  drugX  drugX
23  23  DrugY  drugX
24  24  drugX  drugX
25  25  DrugY  DrugY
26  26  drugX  DrugY
27  27  drugX  DrugY
28  28  DrugY  DrugY
29  29  DrugY  DrugY
30  30  drugX  drugX
31  31  drugX  drugX
32  32  drugC  drugC
33  33  drugA  drugA
34  34  drugX  drugX
35  35  DrugY  DrugY
36  36  drugB  DrugY
37  37  drugX  drugX
38  38  drugC  DrugY
39  39  DrugY  drugA
40  40  DrugY  drugX